* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    text-align: center;
    color: #fff;
    border-radius: 20px;
    margin: 100px auto 0;
    padding: 40px 35px;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    border-radius: 20px;
    height: 60px;
    margin-right: 16px;
    flex: 1;
    font-size: 16px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
}

.search button img {
    width: 16px;
}

.icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 65px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -5px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.colu {
    display: flex;
    align-items: center;
    gap: 10px;
}

.colu img {
    width: 55px;
}
.weather{
    display: none;
}
.error{
    font-size: 20px;
    margin-top: 10px;
    font-weight: 500;
    display: none;
}